

.container-main{
 
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  overflow: auto;  
}


.image-container{
  width: 100%;
  
}

.image{
  width: 100%;
  box-sizing: border-box;
  
}
.h-tag{
  display: flex;
  align-items: center;
  justify-content: center;
  color: aliceblue;
}

tbody{
  color: aliceblue;
}

thead{
  color: aliceblue;
}


td{
 font-weight: 400;
}

.table{
  background: blue;
  box-sizing: border-box;
}